/*
1. Posicionamiento: relative, absolute, fixed, sticky, static
2. Modelo de caja: border, padding, margin, content
3. Fuente: font-size, font-family
4. Visuales: gradient, box-shadow, border-radius
5. Otros
*/

/***************************************Variables***************************************/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --dark-grey: #808080;
    --dark-grey-1: #757575;
}

/***********************************Estilos Generales***********************************/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
}

header, main, footer {
    min-width: 320px;
    text-align: center;
}

.title {
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
/***************************************************************************************/
/****************************************Estilos Header*********************************/
/***************************************************************************************/

/***************************************************************************************/
/*********************************Estilos Contenido Principal***************************/
/***************************************************************************************/

/**********************************Sección de Intercambios******************************/
.seccion-intercambios {
    padding: 60px 16px 65px 16px;
    background-color: var(--off-white);
}

.seccion-intercambios__title {
    margin-top: 40px;
}

.seccion-intercambios__text {
    margin: 24px 0 50px 0;
    color: var(--dark-grey-1);
}

.seccion-intercambios__article {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: x mandatory;
}

.article__container {
    width: 203px;
    height: auto;
    position: relative;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    scroll-snap-align: center;

}

.container__title {
    padding-left: 12px;
    font-size: 1.8rem;
    font-weight: bold;
}

.container__title--one {
    color: #FF9536;
}
.container__title--two {
    color: var(--secondary-blue);
}

.container__table {
    width: 100%;
    margin-top: 12px;
    display: grid;
    grid-template-rows: repeat(4, 41px);
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #B5B0AC;
}

.container__table .item {
    position: relative;
    padding: 11px;
    background-color: white;
}

.item-5, .item-6, .item-7, .item-8 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--dark-grey-1);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Verificar que exista un bloque general de icon*/
.icon {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.trending {
    width: 15px;
    height: 15px;
    top: 12px;
    right: 15px;
    background-image: url(../assets/icons/trending-down.svg);
}

.trending--up {
    background-image: url(../assets/icons/trending-up.svg);
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Repetido con el span del boton de header*/
.container__date {
    margin: 16px 6px 0 6px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    border-radius: 8px;
}

.container__date--one {
    background-color: var(--soft-orange);
}
.container__date--two {
    background-color: var(--soft-blue);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Verificar que exista un bloque general de icon*/
.container__arrow {
    width: 15px;
    height: 15px;
    right: -30px;
    top: 115px;
    background-image: url(../assets/icons/right-arrow.svg);
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Repetido con el span del boton de header*/

/***************************************************************************************/
/*************************************Estilos Footer************************************/
/***************************************************************************************/
