/*
1. Posicionamiento: relative, absolute, fixed, sticky, static
2. Modelo de caja: border, padding, margin, content
3. Fuente: font-size, font-family
4. Visuales: gradient, box-shadow, border-radius
5. Otros
*/

/***************************************Variables***************************************/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --dark-grey: #808080;
    --dark-grey-1: #757575;
}

/***********************************Estilos Generales***********************************/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
}

header, main, footer {
    min-width: 320px;
    text-align: center;
}

.title {
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
/***************************************************************************************/
/****************************************Estilos Header*********************************/
/***************************************************************************************/

/***************************************************************************************/
/*********************************Estilos Contenido Principal***************************/
/***************************************************************************************/

/**********************************Sección de Intercambios******************************/
.slide {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: x mandatory;
}

.seccion-intercambios {
    padding: 60px 16px 65px 16px;
    background-color: var(--off-white);
}

.seccion-intercambios__title {
    margin-top: 40px;
}

.seccion-intercambios__text {
    margin: 24px 0 50px 0;
    color: var(--dark-grey-1);
}

.seccion-intercambios__article {
    padding: 0 20px;
    justify-content: space-between;
}

.article__container {
    width: 203px;
    height: auto;
    position: relative;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    scroll-snap-align: center;

}

.container__title {
    padding-left: 12px;
    font-size: 1.8rem;
    font-weight: bold;
}

.container__title--one {
    color: #FF9536;
}
.container__title--two {
    color: var(--secondary-blue);
}

.container__table {
    width: 100%;
    margin-top: 12px;
    display: grid;
    grid-template-rows: repeat(4, 41px);
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    gap: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #B5B0AC;
}

.container__table .item {
    position: relative;
    padding: 11px;
    background-color: white;
}

.item-5, .item-6, .item-7, .item-8 {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--dark-grey-1);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Verificar que exista un bloque general de icon*/
.icon {
    width: 15px;
    height: 15px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.trending {
    top: 12px;
    right: 15px;
    background-image: url(../assets/icons/trending-down.svg);
}

.trending--up {
    background-image: url(../assets/icons/trending-up.svg);
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Repetido con el span del boton de header*/
.container__date {
    margin: 16px 6px 0 6px;
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    border-radius: 8px;
}

.container__date--one {
    background-color: var(--soft-orange);
}
.container__date--two {
    background-color: var(--soft-blue);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Verificar que exista un bloque general de icon*/
.container__arrow {
    right: -30px;
    top: 115px;
    background-image: url(../assets/icons/right-arrow.svg);
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Repetido con el span del boton de header*/

/**********************************Sección de Tarjetas**********************************/
.seccion-tarjetas {
    padding: 64px 16px 46px 16px;
    background-color: var(--warm-black);
    color: white;
}

.seccion-tarjetas .text {
    color: var(--dark-grey);
}

.seccion-tarjetas__text {
    margin: 24px 0 16px 0;
}

.tarjeta {
    position: relative;
    border-radius: 4px;
    margin-top: 16px;
    padding: 48px 20px 22px 16px;
    text-align: start;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
    background-color: var(--warm-black-1);
}

.tarjeta__icon {
    width: 20px;
    height: 20px;
    top: 15px;
    left: 18px;
}

.icon--clock {
    background-image: url(../assets/icons/clock.svg);
}
.icon--eye {
    background-image: url(../assets/icons/eye.svg);
}
.icon--dollar {
    background-image: url(../assets/icons/dollar-sign.svg);
}
.icon--check {
    background-image: url(../assets/icons/check-circle.svg);
}

.tarjeta__text {
    margin-top: 10px;
}

/***************************************Sección Hero************************************/
.seccion-hero {
    width: 100%;
    height: 390px;
    color: white;
    background-image: url(../assets/img/bitcoinbaby.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.seccion-hero__title {
    padding-top: 64px;
}

/**************************************Sección de Planes********************************/
.seccion-planes {
    padding: 64px 16px;
    background-color: var(--off-white);
}

.seccion-planes__title {
    color: var(--warm-black);
}

.seccion-planes__text {
    margin-top: 24px;
    color: var(--dark-grey-1);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Verificar que exista un bloque llamado slide*/
.seccion-planes__slide {
    margin: 20px 18px 0 18px;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>Slide similar al que aparece en la seccion de intercambios*/

.seccion-planes__tarjeta-plan {
    min-width: 190px;
    position: relative;
    margin: 15px;
    font-family: 'Inter', sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(89, 73, 30,0.16);
    background-color: white;
    scroll-snap-align: center;
}

.tarjeta-plan__etiqueta {
    width: 100px;
    position: absolute;
    top: -15.5px;
    right: calc(50% - 48px);
    padding: 8px;
    border-radius: 8px;
    background-color: var(--bitcoin-orange);
}

.etiqueta--black {
    background-color: #000;
}
.etiqueta--blue {
    background-color: var(--secondary-blue);
}

.etiqueta__text {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.tarjeta-plan__text {
    margin-top: 30px;
    font-family: 'DM Sans', sans-serif;
}

.tarjeta-plan__precio {
    margin-top: 8px;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
}

.precio__signo-dolar {
    margin: 10px 4px;
    font-size: 1.2rem;
    font-weight: 500;
    justify-self: end;
}

.precio__numero {
    font-size: 5.2rem;
    font-weight: bold;
    justify-self: start;
}

.tarjeta-plan__texto-informativo {
    margin: 16px;
    color: var(--dark-grey-1);
}

.tarjeta-plan__button {
    position: relative;
    margin: 0 20px 24px 20px;
    padding: 16px;
    border: 2px solid var(--bitcoin-orange);
    text-align: start;
    border-radius: 4px;
    background-color: var(--off-white);
}

.button--border-black {
    border-color: #000;
}
.button--border-blue {
    border-color: #1A9AF7;
}

.tarjeta-plan__button a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--warm-black);
}

.tarjeta-plan__button a span {
    width: 25px;
    height: 25px;
    right: 12px;
    top: 12px;
}

.icon--orange-right-arrow {
    background-image: url(../assets/icons/orange-right-arrow.svg);
}
.icon--black-right-arrow {
    background-image: url(../assets/icons/black-right-arrow.svg);
}
.icon--blue-right-arrow {
    background-image: url(../assets/icons/blue-right-arrow.svg);
}

/***************************************************************************************/
/*************************************Estilos Footer************************************/
/***************************************************************************************/
