/*
1. Posicionamiento: relative, absolute, fixed, sticky, static
2. Modelo de caja: border, padding, margin, content
3. Fuente: font-size, font-family
4. Visuales: gradient, box-shadow, border-radius
5. Otros
*/

/***************************************Variables***************************************/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --dark-grey: #808080;
    --dark-grey-1: #757575;
}

/***********************************Estilos Generales***********************************/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', sans-serif;
}

header, main, footer {
    min-width: 320px;
    text-align: center;
}

.title {
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
/***************************************************************************************/
/****************************************Estilos Header*********************************/
/***************************************************************************************/

/***************************************************************************************/
/*********************************Estilos Contenido Principal***************************/
/***************************************************************************************/

/***************************************************************************************/
/*************************************Estilos Footer************************************/
/***************************************************************************************/

footer {
    height: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: start;
    background-color: var(--bitcoin-orange);
}

.footer__list {
    margin-right: 15px;
    justify-self: end;
    list-style: none;
}

.footer__list a {
    text-decoration: none;
    color: white;
}

footer img {
    margin-left: 15px;
}
